@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#1e1e1e] text-gray-100 overflow-hidden;
  font-family: 'Inter', system-ui, sans-serif;
}

/* 隐藏所有滚动条，但保留滚动功能 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
